[".config/bat/themes/Catppuccin%20Latte.tmTheme"]
    type = "file"
    url = "https://github.com/catppuccin/bat/raw/main/themes/Catppuccin%20Latte.tmTheme"
    refreshPeriod = "168h"

[".config/bat/themes/Catppuccin%20Frappe.tmTheme"]
    type = "file"
    url = "https://github.com/catppuccin/bat/raw/main/themes/Catppuccin%20Frappe.tmTheme"
    refreshPeriod = "168h"

[".config/bat/themes/Catppuccin%20Macchiato.tmTheme"]
    type = "file"
    url = "https://github.com/catppuccin/bat/raw/main/themes/Catppuccin%20Macchiato.tmTheme"
    refreshPeriod = "168h"

[".config/bat/themes/Catppuccin%20Mocha.tmTheme"]
    type = "file"
    url = "https://github.com/catppuccin/bat/raw/main/themes/Catppuccin%20Mocha.tmTheme"
    refreshPeriod = "168h"
