[user]
    name = {{ .name }}
    email = {{ .email }}
[core]
    excludesFile = {{ .chezmoi.homeDir }}{{ .chezmoi.pathSeparator }}.gitignore
[push]
    autoSetupRemote = true
[log]
    date = iso
[branch]
    sort = -committerdate
