# Disable fish greeting
set -g fish_greeting

if status is-interactive
    # Commands to run in interactive sessions can go here
end

# Homebrew variables
eval "$(/opt/homebrew/bin/brew shellenv fish)"

# pyenv configurations
#set -Ux PYENV_ROOT $HOME/.pyenv
#fish_add_path $PYENV_ROOT/bin
#pyenv init - | source

# Set JAVA_HOME environment variable
set -x JAVA_HOME $(/usr/libexec/java_home -v21)

# Default editor (used by zellij EditScrollback, git, etc.)
set -x EDITOR nvim
set -x VISUAL nvim

# Set PATH
set PATH ~/.emacs.d/bin ~/Library/Application\ Support/JetBrains/Toolbox/scripts $PATH

# Set DOCKER envs for Colima
set -gx DOCKER_HOST unix://$HOME/.colima/default/docker.sock
set -gx TESTCONTAINERS_DOCKER_SOCKET_OVERRIDE /var/run/docker.sock

# BAT configuration
set -x BAT_THEME 'Catppuccin Mocha'

# lazygit defaults to ~/Library/Application Support on macOS
set -gx LG_CONFIG_FILE $HOME/.config/lazygit/config.yml

# FZF Catppuccin Mocha theme
set -Ux FZF_DEFAULT_OPTS "\
--color=bg+:#313244,bg:#1E1E2E,spinner:#F5E0DC,hl:#F38BA8 \
--color=fg:#CDD6F4,header:#F38BA8,info:#CBA6F7,pointer:#F5E0DC \
--color=marker:#B4BEFE,fg+:#CDD6F4,prompt:#CBA6F7,hl+:#F38BA8 \
--color=selected-bg:#45475A \
--color=border:#6C7086,label:#CDD6F4"

# Enable zoxide
zoxide init fish | source

# 1password integration
{{ $op := .chezmoi.config.onepassword.command -}}
command -q {{ $op }}; and {{ $op }} completion fish | source
#set -x SSH_AUTH_SOCK ~/Library/Group\ Containers/2BUA8C4S2C.com.1password/t/agent.sock

{{/* ---- Machine dependant settings begin ---- */}}
{{- if eq .profile "personal" -}}
# Hledger settings
#set -gx LEDGER_FILE $HOME/hledger/main.journal
{{- end -}}

{{- if eq .profile "work-e" -}}
# NVM settings
set -gx NVM_DIR $HOME/.nvm
{{- end -}}
{{/* ---- Machine dependant settings end ---- */}}

# Enable starship prompt
set -x STARSHIP_CONFIG $HOME/.config/starship/starship.toml
starship init fish | source

# uv
fish_add_path "{{ .chezmoi.homeDir }}/.local/bin"

# mise
if status is-interactive
  mise activate fish | source
else
  mise activate fish --shims | source
end

fish_config theme choose "catppuccin-mocha"
